
* {
    box-sizing: border-box;
    font-size: 18px;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.container > div {
    display: flex;
    background-color: white;
    flex-grow: 0;
    border: 1px rgba(104, 104, 104, 0.05) solid;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    flex-wrap: wrap;;
}
.container {
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 0 0 100%;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
    max-height: 90vh;
    max-width: 90vw;
}

#inputBtn {
    padding: 3px 20px;
    text-align: center;
}

#inputNumber{
    padding: 3px 0;
    width: 120px;
    text-align: center;
}

.topPart {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}