
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > div {
    display: flex;
    border: 1px black solid;
    background-color: white;
    flex: 0 0 6.25%;
    aspect-ratio: 1/1;
    flex-wrap: wrap;;
}
.container {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 0 0 40%;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
    max-height: 100vh;
    max-width: 100vw;
}